<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome <%= @user.full_name %>, Hope you are doing well. we excited to start new journey with you. we wish you will read lots of books and get knowledge from their.</p>
  </body>
</html>