<div class="row h-100 mt-5">
    <div class="col-5 m-auto border p-3 rounded shadow bg-white">
        <h1 class="border-bottom p-1">Sign up</h1>
        <%= render 'users/form' %>
        <div class="mt-2">
            Already have account?<%= link_to "Login", login_path %>
        </div>
    </div>
</div>