<div class="container" id="page-content">
    <div class="card welcome-page">
        <div class="card-body text-center">
            <h2 class="my-2 text-capitalize welcome-page-header">welocome to the library sytstem</h2>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-dark" %>
        </div>
    </div>
</div>
