<% @books.each do |book| %>
    <%= render 'books/book_card', book: book %>
<% end %>
<div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @bookss, :container => false %>
</div>