<div class="card mb-4">
  <div class="card-body py-3">
    <div class="d-flex">
      <h5><%= feedback.user_name %></h5>
      <span>- <%= feedback.created_at.strftime(' %d %B %Y') %></span>
    </div>
    <div><%= feedback.comment %></div>
  </div>
</div>
