<%= form_for :search, url: search_path, remote: true, method: :get do |f| %>
    <div class="d-flex m-2">
        <%= f.text_field :search, placeholder: "Search book", class: "search-input form-control rounded-left rounded-right-0" %>
        <%= button_tag type: :submit, class: "btn btn-primary m-auto rounded-left-0 rounded-right" do %>
            <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
    </div>
<% end %>