<div class="row h-100 mt-5">
    <div class="col-5 m-auto border p-3 rounded shadow bg-white">
        <h1 class="border-bottom p-1">Update a book info</h1>
        <%= render 'books/form' %>
    </div>
</div>