@import 'bootstrap/dist/css/bootstrap';

html, body {
  height: 100%;
  background-color: #f7f7f7;
}

.navbar-container {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

.shadow-all {
  box-shadow: 0px 2px 20px 10px black; /*any color you want*/
}
.content {
  height: 100%;
  padding-top: 5rem;
}

.size-400 {
  min-height: 300px;
  max-height: 300px;
  min-width: 400px;
  max-width: 400px;
}
.sign-up-button {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
}
.navbar-collapse {
  flex-grow: 0;
}

.navbar-title {
  font-size: 2rem;
}
.navbar-title a {
  color: #fff;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}
.flickr_pagination .disabled {
  color: #aaaaaa !important; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.flickr_pagination a, em {
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
  background: whitesmoke;
  color: gray; 
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; 
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.flickr_pagination .previous_page {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.flickr_pagination .next_page {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-left-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-input {
  &:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}

.welcome-page, .book-details {
  height: 85%;
  margin-top: 3%;
  background-image: asset-url('library.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.welcome-page {
  margin-top: 5%;
}

.welcome-page-header {
  font-family: serif;
  font-style: italic;
}

#page-content {
  flex: 1 0 auto;
}

.form-group {
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  left: 10px;
  top: 20%;
  transition: all 0.35s ease;
}
.description-label {
  top: 5%;
}
.form-control-in {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  z-index: 1;
  outline: none;
  background-clip: padding-box;
  background-color: transparent;
  transition: all 0.35s ease-in-out;

  &::placeholder {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &:focus + .form-label, &:not(:placeholder-shown) + .form-label {
    display: block;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 400;
    top: -10px;
    left: 10px;
    padding: 0 4px;
    line-height: 1rem;
    z-index: 5;
  }

}

.height-500 {
  max-height: 300px;
}

.emoji {
  font-size: 40px;
  cursor: pointer;
}

.emoji-check-box {
  position: absolute !important;
  margin-right: 0 !important;
  margin-left: 5px !important;
  height: 40px;
  width: 40px;
  appearance: none;
  cursor: pointer;
}

.rounded-20 {
  border-radius: 10px;
  overflow: hidden;
}

.book-details {
  height: 80%;
}

.feedback-section, .admin-section {
  max-height: 400px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.minw-200 {
  min-width: 200px!important;
  max-width: 200px!important;
}

.minh-250 {
  min-height: 250px!important;
  max-height: 250px!important;
}

.image-style {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.book-details {
  height: 300px;
  margin: 0;
  &-header {
    position: absolute;
  }
}

.book-description {
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  flex: 1 0 auto;
}

.book-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-400 {
  height: 230px;
}

.icon-style {
  font-size: 1.5rem;
  color: black;
}